.dropdown{
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn{
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: lightsteelblue;
    margin: 0;
    font-family: inherit;
}
.dropdown-content{
    display: none;
    z-index: 1;
    box-shadow: 0px 8px 16px 8px rgba(0,0,0, 0.2);
    min-width: 160px;
    background-color: lightsteelblue;
    position: absolute;
}
.dropdown-content a{
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover{
    background-color: aliceblue;
}
.dropdown:hover .dropdown-content{
    display:block;
}